# Frontend and SDK
frontend/node_modules

# Output
frontend/.output
frontend/.svelte-kit
**/build

# OS
**/.DS_Store
**/Thumbs.db

# Env
# .env
# .env.*
# !.env.example
# !.env.test
frontend/.env.development

# Vite
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*


# Backend
**/__pycache__/
backend/.venv
backend/data
backend/neonote/tests
backend/.pytest_cache
backend/.env
backend/.env.template
backend/.envrc
backend/.gitignore
backend/.git
